
.balance-container {
    background-color: var(--color-secondary);
    color: var(--color-neutral-light);
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.action-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

button {
    width: 200px;
    text-align: center;
    padding: 10px;
    background-color: var(--color-neutral-dark);
    color: var(--color-neutral-light);
    border: 2px solid var(--color-neutral-dark);
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: var(--color-secondary);
    border-color: var(--color-accent);
}
/* Estilo para los nuevos campos de cantidad y descripción */
input[type="number"], input[type="text"] {
    width: 200px;
    padding: 10px;
    background-color: var(--color-neutral-dark);
    color: var(--color-neutral-light);
    border: 2px solid var(--color-neutral-dark);
    border-radius: 5px;
    font-size: 16px;
}

input[type="number"]:focus, input[type="text"]:focus {
    border-color: var(--color-secondary);
    outline: none;
}

input[type="number"]::placeholder, input[type="text"]::placeholder {
    color: var(--color-neutral-light);
    opacity: 0.7;
}

/* Eliminar los botones de incremento/decremento en los campos tipo number */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Para Firefox */
    appearance: textfield; /* Para otros navegadores */
}
